* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.Heading a.active {
    background-color: dodgerblue;
    color: white;
  }
.Heading{
    overflow: hidden;
    background-color: rgb(139, 40, 115)  ; 
    margin-top: 0px;
    height: 60px;
    color: white ;
    padding: 20px 10px;


}

.mainHeading{
    overflow: hidden;
    background-color: rgb(138, 66, 120) ; 
    margin:auto;
    margin-top: 30px;
    width:90%;
    height: 180px;
    color: white ;
    padding: 10px;
    font-size: 25px;  
    text-align: justify ;

}
.mainBody{
    background-color: rgb(230, 228, 228) ; 
    width:90%;
    margin:auto;
    text-align: left;
    height: 50%;
    color: rgb(134, 133, 133) ; 
    padding: 20px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    font-size: 13px;
    position: relative;  

}
#txt{

  color : white ; padding:20px 20px 20px 120px; font-size: 105x ; text-align: center;
}
#btn{

  width: 15% ; 
  height : 50px ;
  right:150px;  
  color:white; 
  font-size: 15px; 
  position: absolute;  
  background-color: rgb(139, 40, 115)  ;
  padding:5px;
  bottom: 14%;
margin-bottom:15px;
            
}
@media screen and (min-width: 601px) {
  .mainBody{
    padding: 20px;
    padding-left:150px  ; padding-right:140px ;
    font-size: 15px;
    bottom: 14%;

  }
  #txt{
  font-size: 30px ;
  text-align: right ;
  line-height: 36px;

  }
}

@media screen and (max-width:800px) {


#txt{
  font-size: px ;
  margin-top:-90px;
  line-height: 66px;

  }
}
input[type=text] {
  border: 1px solid #ccc;  
}
.srch{
  padding:50px;
}
      /*
      var arr = new Array();
      string="Record"
      for(i=0 ; i<1000 ; i++)
       {
          arr[i]=string +i
       }
       Document.getElementbyID("demo").innerHTML= "Paragraph changed.";

       */



       .header {
        overflow: hidden;
        background-color: rgb(139, 40, 115) ;
        padding: 1px 5px 1px 5px;
        color: white;
        font-size:0;
      
      }
      
      .header a {
        float: left;
        color: white;
        text-align: center;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 3px;
        text-decoration: none;
        font-size: 14px;
        line-height: 15px;
      }
      
      .header a.logo {
        font-size: 25px;
        font-weight: bold;
        padding-top: 20px;
      }
      
      .header a:hover {
        background-color: rgba(139, 40, 114, 0.404) ;
        opacity: 1;
        color: black;
      }
      
      .header a.active {
        color: white;
        border-bottom: 3px solid white;
      
      }
      
      .header-right {
        float: right;
      }
      
      img {
        border-radius: 50%;
        padding-bottom: 0px;
      }
      
       
        #search-text-input{
            float:left;
            height:35px;
            outline:0;
            width:183px; 
        }
          
        #button-holder{
          border-radius: 1px;
          cursor:pointer;
          float:left;
          height:35px;
          background-color:#f1f1f1;
          width:70px;
          margin:10px;
          margin-left:0px;
          padding: 0px 0px 0px 0px;
        text-align: center;
        }
        #button-holder a:hover {
        
          background-color: transparent;
        }
        #button-holder img{
          width:20px; 
        }
           
                
          .dropdown-content2 {
            margin-top:43px;
            margin-left:203px;
      
            display: none;
            position: absolute;
            background-color: #f6f6f6;
            min-width: 200px;
            overflow: auto;
            border: 1px solid #ddd;
            z-index: 1;
      
          }
      
          .dropdown-content2 a {
            position: relative;
            display: inline-block;
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: bold;
            display: block;
            text-align: left;
            font-size: 15px;
            font-weight: 30px;
          }
         
          .dropdown {
            float: left;
            overflow: hidden;
            padding-left:35px; 
          }
          
          .dropdown .dropbtn {
            font-size: 17px;    
            border: none;
            outline: none;
            color: white;
            padding: 14px 16px;
            background-color: inherit;
            font-family: inherit;
            margin: 0;
          }
          
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 110px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          
          .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
          }
          
          .topnav a:hover, .dropdown:hover .dropbtn {
            background-color: #555;
            color: white;
          }
          
          .dropdown-content a:hover {
            background-color: #ddd;
            color: black;
          }
          
          .dropdown:hover .dropdown-content {
            display: block;
          }
          .button3{
            width: 180px;
            height: 48px;
            margin-left: 530px ;
            margin-top: 0px ;
            background-color:  rgb(139, 40, 115)  ; /* Green */
            border: none;
            color: white ;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            display: inline-block;
          
          }
          #searchbar{
           margin-right:350px  ;
           margin-top:30px;
            position: absolute;
          }
          
           input[type=text] {
          /*  text-align: left;
            padding: 5px 5px 10px 5px;
            float: right;
            margin-top: 10px;
            border-radius: 1px;
            font-size: 15px;*/
            box-sizing: border-box;
            border: 2px solid #ccc;
            transition: width 0.4s ease-in-out;    
        }
     
     input[type=text]:focus {
      
      border: 1px solid rgb(65, 63, 64) ; ; 
}