*{
    background:  rgb(88, 22, 72); 
}
#form{

height: 350px;
background: white;
width:30%;
text-align: center;
margin: auto;
border: 10em;
padding: 0px 50px 50px 50px;
}


.inputStyle{
    margin: auto;
  background: transparent;
  line-height: 38px;
  border: 1px solid #cccccc;
  transition: all 0.4s ease;
  padding: 0px 20px;
width: 80%;
align-items: center;

}
.form-rows{
    Background: white ; 
    padding-left: 50px ;
}
.signupButton{
 color:   white ; 
 padding: 15px; 
  align-items: center  ; 
  width: 100% ;
  height: 40px;
  background-color:  rgb(88, 22, 72) ;

}
/*
#Row2 {
    width: 500px ;
    height: 200px;
    background-color: white;
    margin-left: 0px;
    margin-top: 40px;
font-size: 20px;
margin-right: 900px;

}
#Row2-column2{
    margin-left:500px;
    background-color: white;
    margin-top:-190px;

    }
div#wrap{
     width : 800px ; margin:0px auto;
    background:rgb(140, 147, 151);
 font-size: 40px;

}
div.newData{
    height: 2000px;
    background:#09F;
    margin: 10px 0px;
}


img {
    border-radius: 50%;
    border-color: gray

  }
  #Row3 {
    width: 1600px ;
    height: 1000px;
    background-color: white;
    margin-left: 0px;
    margin-top: 40px;
}
#Row3 h1 {
    background-color: white;
    font-size: 20px;
}

#text_{
    width: 600px ;
    height: 600px;

}
#Row3-column1{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 20px;
    background-color: white;


}
#Row3-column2{
    margin-top: -140px;
    background-color: white;
    margin-left: 700px;


}
#Row3-2-column1{
    margin-top: 100px;
    margin-left: 20px;
    background-color: white;

}
#Row3-2-column2{
    margin-top: -180px;
    background-color: white;
    margin-left: 400px;
    font-size: 20px;

}

*/
