
<head>
    <title> Nuces-Circle</title>
    <link rel="icon" type="image/png" href="icon.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--set the page width to the size of device -->
    <!--include bootstrap CDN-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="/css/Jobs.css">


</head>

<body>
    <div class="header">
                <!-- action="SearchResultPeople.html"  method="post" -->
        <form action="SearchResultPeople.html" method="post">
                        <a href="/NucesCircle" class="logo">Nuces-Circle</a>
       <!--  <input type='text' placeholder='Search...' id='search-text-input' /> t"

        <div id='button-holder'>

               <a style=" padding:2px;   padding-top:10px; COLOR: BLACK" > SEARCH</a>>
        </div> -->

                 

         </form>


       


        <div class="header-right">
                      <a href="/NucesCircle/Notification" class="notification" >
                        <img src="/css/images/people.png" style="width:35px; height:35px ; border-radius: 0%"
                                title="White flower" alt="notifications" /><br>
                        Notifications</a>

                <a href="/NucesCircle">
                        <img src="/css/images/home.png" style="width:35px; height:35px ; border-radius: 0%"
                                title="White flower" alt="Flower" /><br>
                        Home</a>

                <a href="/NucesCircle/connection" >
                        <img src="/css/images/meeting.png" style="width:35px; height:35px ; border-radius: 30%"
                                title="White flower" alt="Connection"><br>
                        Network</a>
                <a href="/NucesCircle/job" class="active">
                        <img src="/css/images/job.png" style="width:35px; height:35px  ; border-radius: 30%"
                                title="White flower" alt="Flower"><br>

                        Job</a>
                <a href="/NucesCircle/profile"  >
                        <img src="{{CurrUser.imagepath}}"
                                style="width:35px; height:35px ; border-radius: 50% ; border:1px solid rgb(207, 205, 205)"
                                title="White flower" alt="Flower"><br>
                        {{CurrUser.FName}}</a>
                 <div class="dropdown">
                         
                <a href="/NucesCircle/logout" style=" padding:15px ;padding-left:15px;">Log Out</a>

                   
            </div>

        </div>
        </div>
    </div>
    <br> <br> <br> <br>
    <!---- onclick="location.href='Postjob.html'" --->
    <div class="container1"> Looking for Talent? 

        <input type="submit" value="Post Job" id="PostJobButton"
          onclick="window.location='/NucesCircle/Postjob';"
            style="  background-color: rgb(139, 40, 114) ; font-size: 14px; color: white; text-align: center; width:120px;  padding:10px; ">
<br>
<a href="/NucesCircle/myjob">View My Posted Jobs</a>

    </div>
    <br> <br> <br> <br>
    <div>

</div>

    <div class="container2">
        <br><br>
        <p style=" text-align: center;  font-size: 17px; font-weight: 10px ;   letter-spacing: 3px;
        ">
            Your dream job’s just a search away…

        </p>
        <br><br>
        <form  method="post" action="/NucesCircle/searchjob">

        <input type="text" name="Location"id="location" placeholder="Location " >
        <input type="text" name="Title" id="job" placeholder="Search Job Title " >
        <br><br> <br><br>

        <input type="submit" value="Find Job" id="form-control" 
            style=" margin: auto;  background-color: rgb(139, 40, 114) ; font-size: 14px;; color: white; text-align: center; width:30%;  ">

</form>

        </label>

        



    </div>

    <br><br> <br>


      <div class="container2"   style=" height: 130px;">
        <br><br>
        <p style=" text-align: center;  font-size: 17px; font-weight: 10px ;   letter-spacing: 3px;">
            Find Job Based on Relevency......<br> 
            Use Your Profile Information  to Find Job.

        </p>

    </div>
    <br>
    <form  method="post" action="/NucesCircle/searchJobRelevency">

      

        <input type="submit" value="Find Relevent Job" id="form-control" 
            style=" margin: auto;  background-color: rgb(139, 40, 114) ; font-size: 14px;; color: white; text-align: center; width:20%;   margin-right:130px;">

</form>

      <br><br>

    <br>

    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form action="SubmitJobApplication.html" target="_blank">

                <img src="icon.png" style="width:36px; height:36px ; border-radius: 0%" title="Circle" alt="Flower"
                    align: left>
                <h2 style="color : white">

                    NUCES-Circle Easy Apply </h2>
                <br> <br>
                <div style=" text-align: center ; float: center ; width:60% ; ">
                    <input type="text" placeholder="Email Address" name="search" style=" width:100% ;   ">
                    <hr><br>
                    <input type="text" placeholder="Phone country code" name="Phone" style=" width:100% ;   ">
                    <hr> <br>
                    <!--<label style=" color:white"> Phone</label><br> <br><br>  -->
                    <input type="text" placeholder="Mobile phone number" name="Password" style=" width:100% ;   ">
                    <hr> <br>
                    <p> *The job poster will get an email with your contact info and a link to your profile. </p>

                    <br> <br>
                    <button type="submit" style="width:150px ">Submit</button>
                </div>

            </form>
        </div>
    </div>
  

  
    <script src="/js/jobs.js"></script>
</body>

