</head>

<style>
*{
    background:  rgb(88, 22, 72); 
}

</style>
</head>
<body>

      <p style="color : white ; text-align : center ;letter-spacing: 1px; font-size:80px; bottom:50%" >
        <!--      <h2 style="color : white ; text-align : center ; margin: auto; padding-bottom: 30px;  font-size: 40 px ;   ">-->
<br>
       
        {{viewTitle}}
        </p>

                
</body>
